<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="ESignApp.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <httpCookies httpOnlyCookies="true"/>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
  </system.web>
</configuration>
